.timer {
  align-items: center;
  background: #f0f0f0;
  border-radius: 100%;
  border: 10px solid #dddcdc;
  display: flex;
  flex-direction: column;
  height: 18rem;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 18rem;
}
